# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.coverage
.pytest_cache/

# Environment
.env
.venv
venv/

# Project specific
book_output/
library/*/
!library/.gitkeep
!library/projects.json

# OS
.DS_Store
Thumbs.db

# stuff that isn't needed in this projects
/.localonlystuff
